.titlePage {
    width: 100%;
    display: flex;
    background-image: url('../../image/pic__COLOR_landing-logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

.titlePage__title{
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    width: 730px;
    padding-top: 184px;
    padding-bottom: 224px;
    margin: auto;
    color: white;
}


@media screen and (min-width: 320px) and (max-width: 767px){
    
    .titlePage__title{
        font-family: "Inter",Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 31px;
        line-height: 39px;
        /* or 126% */

        text-align: center;
        letter-spacing: -0.04em;
        padding-top: 207px;
        padding-bottom: 246px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    
    .titlePage__title{
        padding-top: 326px;
        padding-bottom: 342px;
    }
}